@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
  /* background-image: url(../public/ambu.jpg); */
  background-image: url(../public/newambu.jpg);
  background-repeat: no-repeat;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.pFont{
  font-family: 'Poppins', sans-serif;
}